@media print {
    body * {
        visibility: hidden;
    }
    #print-content, #print-content * {
        visibility: visible;
    }
    #print-content {
        position: absolute;
        left: 10%;
        top: 0;
    }
}
